//- .plans-templates-info
//-   .plans-templates-info-icon
//-     i.fas.fa-coins(aria-hidden='true')
//-   .plans-templates-info-content
//-     h1 #{plan.name}
//-     h2 #{plan.price}$/#{plan.duration}M
//-     p
//-       i.fa.fa-check-circle(aria-hidden='true')
//-       | 44 Pizza 
//-       i.fas.fa-pizza-slice(aria-hidden='true')
//-     p
//-       i.fa.fa-check-circle(aria-hidden='true')
//-       | 1 Thali As ur Taste 
//-       i.fas.fa-utensil-spoon(aria-hidden='true')
//-     p
//-       i.fa.fa-check-circle(aria-hidden='true')
//-       | 1 times Snacks And Cold Drinks 
//-       i.fas.fa-hamburger(aria-hidden='true')
//-     .plans-button(planId=`${plan["_id"]}`) I'm Hungry
.featured-plan
   .featured-plan-1
     .featured-plan-1-1
       .featured-plan-1-1-heading
         h1
           | Featured 
           span item
       .featured-plan-1-1-subheading
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse beatae delectus,.
       .featured-plan-1-1-rating-price
         .featured-plan-1-1-rating
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
         .featured-plan-1-1-price
           .featured-plan-1-1-price-heading $#{plan.price}
           .featured-plan-1-1-price-buynow(planId=`${plan["_id"]}`) order now
     .featured-plan-1-2
       img(src=`${plan["planImage"]}`)
   .featured-plan-2
     .lower-section-feature-plan-icons-chote
       i.fas.fa-less-than
     .lower-section-feature-plan-icons-chote
       i.fas.fa-greater-than